@model loginProyectASPNETCORE_MVC.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <section class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="Signup" method="post">
                            <input class="form-control mb-3" type="text" placeholder="Usuario" asp-for="Username" required />
                            <input class="form-control mb-3" type="text" placeholder="Email" asp-for="Email" required />
                            <input class="form-control mb-3" type="password" placeholder="Password" asp-for="Password" required />
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrate</button>
                            </div>
                            @if (ViewData["Message"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Message"]
                                    </div>

                                </div>
                            }
                            ¿Tienes una cuenta? <a href="@Url.Action("Login", "Login")">Iniciar sesión</a>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
